html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

/* icon */
@font-face {
    font-family: "icon-ali";
    src: url('#iconfont/icon/iconfont.woff2') format('woff2'),
		url('#iconfont/icon/iconfont.woff') format('woff'),
		url('#iconfont/icon/iconfont.ttf') format('truetype');
}

[class*=" icon-"],
[class^=icon-],
.iconfont {
    font-family: "icon-ali" !important;
    font-size: 16px;
    font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
    display: inline-block;
	text-transform: none;
	text-rendering: auto;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
}

/* 删除有底色 &#xe601; */
.icon-delete::before {
	content: "\e601";
}

/* 选中有底色 &#xe640; */
.icon-select::before {
	content: "\e640";
}

/* 带有圆形底色背景 &#xec44; */
.icon-circle-background::before,
.icon-circle-background::after,
.icon-delete::after,
.icon-select::after {
	content: "\ec44";
}

/* 透明度 &#xe60d; */
.icon-opacity::before {
	content: "\e60d";
}

/* 图片 &#xe645; */
.icon-picture::before {
	content: "\e645";
}

/* 确认对勾 &#xe616; */
.icon-confirm::before {
	content: "\e616";
}

/* 删除叉号 &#xe600; */
.icon-delete-cross::before {
	content: "\e600";
}

/* 加载单边 &#xe8fd; */
.icon-loading-single::before {
	content: "\e8fd";
}