out
dist
node_modules
.vscode-test/
*.vsix
webview/src/*/index.*.css
webview/src/*/index.*.js
resources/background/
resources/alarmclock/
package-lock.json
pnpm-lock.yaml
test/
.eslintcache/
tsconfig.tsbuildinfo
