.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
resources/background/**
resources/extension/**
resources/docs/**
webview/src/*/css
webview/src/*/js
webview/src/*/*.development.*
test/**
filePackage/**