.vscode/**
.vscode-test/**
# node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/rollup.config.js
resources/background/**
resources/extension/**
resources/docs/**
webview/src/*/css/**
webview/src/*/js/**
webview/src/*/*.development.*
webview/css
webview/js
test/**
package/**
out/**
dist/**
!dist/extension.js
!dist/uninstall.js
# !dist/build
# 主题文件夹不进行发布
resources/theme/**
# sharp发布
# node_modules/**/{*.c,*.cc,*.cpp,*.md,LIECNSE,*.gyp,*.h}
node_modules/**
!node_modules/{sharp,color,detect-libc,semver,node-addon-api,prebuild-install,simple-get,tar-fs,tunnel-agent}/**/{*.js,*.node,*.json}