.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/rollup.config.js
resources/background/**
resources/extension/**
resources/docs/**
webview/src/*/css/**
webview/src/*/js/**
webview/src/*/*.development.*
webview/*.css
webview/*.js
test/**
filePackage/**
out/**
dist/**
!dist/extension.js
!dist/uninstall.js
# 主题文件夹不进行发布
resources/theme/**