/* index(10) */

/* 动画部分 */
@keyframes image-delete {
	from {
		opacity: 1;
		grid-template-rows: 1fr;
		padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	}
	to {
		opacity: 0;
		grid-template-rows: 0fr;
		padding: 0 var(--input-padding-horizontal);
	}
}

@keyframes image-add {
	from {
		opacity: 0;
		grid-template-rows: 0fr;
		padding: 0 var(--input-padding-horizontal);
	}
	to {
		opacity: 1;
		grid-template-rows: 1fr;
		padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	}
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loading-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

/* 线条过渡动画 */
@keyframes loading-gradient {
	from {
		background-position: 100% 50%;
	}
	to {
		background-position: 0 50%;
	}
}

/* 模糊过渡动画 */
@keyframes blur-transition {
	from {
		filter: blur(var(--blur-number));
	}
	to {
		filter: blur(0);
	}
}

.loading-rotate {
	animation: loading-rotate 1.5s ease infinite;
}