/* index(1) */

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
}

/* 顶部操作区域 */
header.top {
	margin: 0;
	min-height: 50px;
    margin-bottom: 10px;
	padding-top: var(--input-padding-vertical);
	z-index: 100;
}

button.button {
    display: block;
	max-width: 350px;
    border: none;
    margin: 0 auto;
}

button.button > span.iconfont {
	margin-right: 2px;
	font-size: inherit;
	color: inherit;
}

button.button.isloading:hover {
	background: var(--vscode-button-background);
}

button.button:not(.isloading) > span.iconfont {
	display: none;
}

/* 多选时的切换按钮 */
div.batch-operation {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 10px;
	--vscode-button-warnBackground: #9c0e0e;
	--vscode-button-warnHoverBackground: #bb1111;
	--vscode-warnFocusBorder: #d40000;
	--vscode-button-cancelBackground: #9c860e;
	--vscode-button-cancelHoverBackground: #bb8911;
	--vscode-cancelFocusBorder: #d47800;
}

div.batch-operation > div[class^=batch-operation-index-] {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

div.batch-operation > div[class^=batch-operation-index-]:not(:last-child) {
	margin-bottom: 10px;
}

div.batch-operation button.button {
	flex: 1;
	width: 100%;
}

div.batch-operation:not(.container-icon-select) button.button.batch {
	display: none;
}

div.batch-operation > div[class^=batch-operation-index-] > button.button:not(:first-child) {
	margin-left: 5px;
}

div.batch-operation button.button.delete {
	background: var(--vscode-button-warnBackground);
}

div.batch-operation button.button.delete:hover {
	background: var(--vscode-button-warnHoverBackground);
}

div.batch-operation button.button.delete:focus {
	outline-color: var(--vscode-warnFocusBorder);
}

div.batch-operation button.button.cancel {
	background: var(--vscode-button-cancelBackground);
}

div.batch-operation button.button.cancel:hover {
	background: var(--vscode-button-cancelHoverBackground);
}

div.batch-operation button.button.cancel:focus {
	outline-color: var(--vscode-cancelFocusBorder);
}

div.batch-operation:not(.container-icon-select) div.batch-operation-index-two {
	display: none;
}

/* 列表区域 */
nav.list {
	flex: 1;
	overflow-y: scroll;
}

nav.list > img {
	pointer-events: none;
}

/* 图片列表容器 */
div.image-container {
	--blur-number: 5px;
    width: 95%;
	max-width: 333px;
    border-radius: 5px;
    margin: 0 auto;
	text-align: center;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    border: 2px solid transparent;
	overflow: hidden;
	transition: border .3s ease;
	position: relative;
	animation: opacity-show .5s ease;
}

/* 加载完成的图片在删除时添加删除动画 */
div.image-container.image-delete {
	opacity: 0;
	animation: image-delete .5s cubic-bezier(0.5, 0, 0.5, 1);
}

/* 同时删除多张图片的透明度动画 */
div.image-container.image-delete.multiple-images-delete {
	animation: opacity-hide .25s ease;
}

/* 删除多张图片的滚动动画 */
div.image-container.image-delete.multiple-images-delete-scroll {
	animation: image-delete .25s linear var(--delay-time);
}

div.image-container:hover {
	cursor: pointer;
}

nav.list div.image-container:not(.select):hover {
	border-color: var(--vscode-imagePreview-border);
}

nav.list div.image-container.select {
	border-color: var(--vscode-gitlens-graphLane4Color);
}

div.image-container.random {
	border-color: var(--vscode-tab-unfocusedActiveModifiedBorder);
}

div.image-container:not(:last-child) {
	margin-bottom: 10px;
}

/* 新插入的图片添加一个展开动画 */
.image-container[init=false] {
	animation: image-add .5s cubic-bezier(0.5, 0, 0.5, 1);
}

/* 图片遮罩容器 */
div.image-container > div.image-popup {
	display: inline-block;
	user-select: none;
	width: 90%;
	height: auto;
	line-height: 1em;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

div.image-container[loaded=false] > div.image-popup {
	pointer-events: none;
	aspect-ratio: 1.7;
}

div.image-container[loaded=false] > div.image-popup.loading-gradient > * {
	display: none!important;
}

/* 线性加载动画样式 */
div.image-container[loaded=false] > div.image-popup.loading-gradient {
	background: linear-gradient(90deg, #f2f2f2 25%, #c7c7c7 37%, #f2f2f2 63%);
	background-size: 400% 100%;
}

/* 新增图片需要等展开动画完成再开始线性加载动画 */
div.image-container[init=false][loaded=false] > div.image-popup.loading-gradient {
	animation: loading-gradient 1.5s ease .5s infinite;
}

/* 新增图片需要等展开动画完成再开始线性加载动画 */
div.image-container[init=true][loaded=false] > div.image-popup.loading-gradient {
	animation: loading-gradient 1.5s ease infinite;
}

/* 图片 */
div.image-container > div.image-popup > img.image {
	user-select: none;
	max-width: 90%;
	max-height: 150px;
	position: relative;
	transition: opacity .3s ease;
}

/* 图片未完成加载时的透明度 */
div.image-container[loaded=false] > div.image-popup > img.image {
	opacity: 0;
}

/* 图片加载完成时的透明度 */
div.image-container[loaded=true] > div.image-popup > img.image {
	opacity: 1;
}

/* 加载完成，图片遮罩过渡关闭 */
div.image-container[loaded=true] > div.image-popup {
	background: transparent;
	overflow: hidden;
	animation: blur-transition .5s ease;
}

/* 图片操作 */
div.image-container > span.image-operation {
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	position: absolute;
	top: 0;
	opacity: .4;
	transition: opacity .3s ease;
}

/* 公用样式 */
div.image-container > span.image-operation::before,
div.image-container > span.image-operation::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.image-container > span.image-operation::before {
	z-index: 2;
}
div.image-container > span.image-operation::after {
	color: transparent;
	z-index: 1;
}

div.image-container:hover > span.image-operation {
	opacity: 1;
}

div.image-container > span.image-operation:active {
	opacity: .6;
}

/* 未选中按钮 */
div.image-container > span.image-select {
	color: #fff;
	left: 0;
}

/* 删除按钮 */
div.image-container > span.image-delete {
	color: var(--vscode-gitlens-graphLane7Color);
	right: 0;
}
div.image-container > span.image-delete::after {
	color: #fff;
}

/* 选中按钮 */
div.image-container > span.image-select.select {
	opacity: 1;
	color: var(--vscode-gitlens-graphLane8Color);
	right: 10px;
}
div.image-container > span.image-select.select::before {
	content: "\e640";
}
div.image-container > span.image-select.select::after {
	color: #fff;
}

div.image-list-info {
	line-height: 2rem;
	font-size: 1.4rem;
	color: var(--vscode-input-foreground);
	text-align: center;
}
div.image-list-info:not(.show) {
	display: none;
}

div.image-list-info > span.iconfont {
	color: inherit;
	font-size: inherit;
	margin-right: 5px;
}
div.image-list-info > span.iconfont:not(.show) {
	display: none;
}

div.image-list-info > span.info-content {
	color: inherit;
	font-size: inherit;
}