body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
}

header.top {
	margin: 0;
	min-height: 50px;
    margin-bottom: 10px;
	padding-top: var(--input-padding-vertical);
	position: sticky;
	top: 0;
}

button.button {
    display: block;
	max-width: 350px;
    border: none;
    margin: 0 auto;
}

nav.list {
	flex: 1;
}

nav.list > img {
	pointer-events: none;
}

/* 图片列表容器 */
div.image-container {
    width: 95%;
	max-width: 333px;
    border-radius: 5px;
    margin: 0 auto;
	text-align: center;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    border: 2px solid transparent;
	overflow: hidden;
	transition: border .3s ease;
	position: relative;
}

div.image-container.image-delete {
	opacity: 0;
	animation: image-delete .3s ease;
}

div.image-container:hover {
	cursor: pointer;
}

.image-container:not(.select):hover {
	border-color: var(--vscode-imagePreview-border);
}

.image-container.select {
	border-color: var(--image-select);
}

div.image-container:not(:last-child) {
	margin-bottom: 5px;
}

div.image-container > img.image {
	user-select: none;
	max-width: 90%;
	max-height: 150px;
	animation: image-add .3s ease;
}

/* 图片操作 */
div.image-container > span.image-operation {
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	opacity: .4;
	transition: opacity .1s ease;
}

/* 公用样式 */
div.image-container > span.image-operation::before,
div.image-container > span.image-operation::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.image-container > span.image-operation::before {
	z-index: 2;
}
div.image-container > span.image-operation::after {
	color: transparent;
	z-index: 1;
}

div.image-container > span.image-operation:hover {
	opacity: 1;
}

div.image-container > span.image-operation:active {
	opacity: .6;
}

/* 未选中按钮 */
div.image-container > span.image-select {
	color: #fff;
	left: 10px;
}

/* 删除按钮 */
div.image-container > span.image-delete {
	color: var(--vscode-inputValidation-errorBorder);
	right: 10px;
}
div.image-container > span.image-delete::after {
	color: #fff;
}

/* 选中按钮 */
div.image-container > span.image-select.select {
	opacity: 1;
	color: var(--vscode-editorWarning-foreground);
	right: 10px;
}
div.image-container > span.image-select.select::before {
	content: "\e730";
}
div.image-container > span.image-select.select::after {
	color: #fff;
}


/* 动画部分 */
@keyframes image-delete {
	from {
		opacity: 1;
		max-height: 150px;
	}
	to {
		opacity: 0;
		max-height: 0;
		margin-bottom: 0;
	}
}

@keyframes image-add {
	from {
		opacity: 0;
		max-height: 0;
	}
	to {
		opacity: 1;
		max-height: 150px;
	}
}