/* index(10) */

/* 动画部分 */
@keyframes image-delete {
	from {
		opacity: 1;
		max-height: 150px;
	}
	to {
		opacity: 0;
		max-height: 0;
		margin-bottom: 0;
	}
}

@keyframes image-add {
	from {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}
	to {
		opacity: 1;
		max-height: 150px;
		overflow: visible;
	}
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading-rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-rotate {
	animation: loading-rotate 1.5s ease infinite;
}