/* index(2) */

#inputArea {
    margin-bottom: 10px;
}

/* 输入框上方按钮样式 */
div.input-change-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    font-size: 1.8rem;
    color: var(--vscode-icon-foreground);
}

div.icon-container > span.iconfont:not(.lock) {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    overflow: hidden;
    font-size: inherit;
    color: inherit;
    margin-right: 2px;
    border: 1px solid transparent;
}

div.icon-container > span.iconfont:not(.lock):hover {
    background-color: var(--vscode-inputOption-hoverBackground);
}

div.icon-container > span.iconfont:not(.lock).select {
    color: var(--vscode-inputOption-activeForeground);
    border-color: var(--vscode-inputOption-activeBorder);
    background-color: var(--vscode-inputOption-activeBackground);
}

/* 输入框外层 */
div.info-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 1.4rem;
	border: 1px solid transparent;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: transparent;
    position: relative;
    border-radius: 2px;
}

div.info-input.focus {
    outline-color: var(--vscode-focusBorder);    
}

div.info-input.warning#infoInput {
    outline-color: var(--vscode-inputValidation-warningBorder);
}

div.info-input input {
    flex: 1;
    height: 26px;
    padding: 3px 0 3px 6px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: inherit;
    white-space: nowrap;
    appearance: none!important;
    -webkit-appearance: none!important;
}

div.info-input input::placeholder {
    font-size: inherit;
}

div.input-button {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 100%;
}

div.icon-container.input-button.hide {
    overflow: hidden;
    width: 0;
}

div.icon-container.input-button > span.iconfont {
    margin-right: 0;
    margin-left: 2px;
}

div.input-button > span.iconfont#confirm:not(.lock):hover {
    color: var(--vscode-editorMarkerNavigationWarning-background);
}

div.input-button > span.iconfont#clear:hover {
    color: var(--vscode-editorMarkerNavigationError-background);
}

div.input-button > span.iconfont:not(.lock):active {
    background-color: var(--vscode-inputOption-activeBackground);
}

div.info-input.focus.warning span.warning-info {
    display: inline-block;
}

span.warning-info {
    display: none;
    width: 100%;
    min-height: 24px;
    padding: 6px;
    word-break: break-all;
    font-size: 1.4rem;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-inputValidation-warningBackground);
    outline: var(--vscode-inputValidation-warningBorder) solid 1px;
    outline-offset: -1px;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
}