/* index(1) */

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
}

header.top {
	margin: 0;
	min-height: 50px;
    margin-bottom: 10px;
	padding-top: var(--input-padding-vertical);
	z-index: 100;
}

button.button {
    display: block;
	max-width: 350px;
    border: none;
    margin: 0 auto;
}

button.button > span.iconfont {
	margin-right: 2px;
	font-size: inherit;
	color: inherit;
}

button.button.isloading:hover {
	background: var(--vscode-button-background);
}

button.button:not(.isloading) > span.iconfont {
	display: none;
}

nav.list {
	flex: 1;
	overflow-y: scroll;
}

nav.list > img {
	pointer-events: none;
}

/* 图片列表容器 */
div.image-container {
    width: 95%;
	max-width: 333px;
    border-radius: 5px;
    margin: 0 auto;
	text-align: center;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    border: 2px solid transparent;
	overflow: hidden;
	transition: border .3s ease;
	position: relative;
	animation: opacity-show .5s ease;
}

div.image-container.image-delete {
	opacity: 0;
	animation: image-delete .5s ease;
}

div.image-container:hover {
	cursor: pointer;
}

div.image-container:not(.select):hover {
	border-color: var(--vscode-imagePreview-border);
}

div.image-container.select {
	border-color: var(--vscode-gitlens-graphLane4Color);
}

div.image-container:not(:last-child) {
	margin-bottom: 10px;
}

div.image-container > img.image {
	user-select: none;
	max-width: 90%;
	max-height: 150px;
	animation: image-add .5s ease;
}

/* 图片操作 */
div.image-container > span.image-operation {
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	position: absolute;
	top: 0;
	opacity: .4;
	transition: opacity .3s ease;
}

/* 公用样式 */
div.image-container > span.image-operation::before,
div.image-container > span.image-operation::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.image-container > span.image-operation::before {
	z-index: 2;
}
div.image-container > span.image-operation::after {
	color: transparent;
	z-index: 1;
}

div.image-container:hover > span.image-operation {
	opacity: 1;
}

div.image-container > span.image-operation:active {
	opacity: .6;
}

/* 未选中按钮 */
div.image-container > span.image-select {
	color: #fff;
	left: 0;
}

/* 删除按钮 */
div.image-container > span.image-delete {
	color: var(--vscode-gitlens-graphLane7Color);
	right: 0;
}
div.image-container > span.image-delete::after {
	color: #fff;
}

/* 选中按钮 */
div.image-container > span.image-select.select {
	opacity: 1;
	color: var(--vscode-gitlens-graphLane8Color);
	right: 10px;
}
div.image-container > span.image-select.select::before {
	content: "\e640";
}
div.image-container > span.image-select.select::after {
	color: #fff;
}

div.image-list-info {
	line-height: 2rem;
	font-size: 1.4rem;
	color: var(--vscode-input-foreground);
	text-align: center;
}
div.image-list-info:not(.show) {
	display: none;
}

div.image-list-info > span.iconfont {
	color: inherit;
	font-size: inherit;
	margin-right: 5px;
}
div.image-list-info > span.iconfont:not(.show) {
	display: none;
}

div.image-list-info > span.info-content {
	color: inherit;
	font-size: inherit;
}